<nav class="navbar">
  <div class="nav_column">
    <ul class="nav_list">
      <li class="nav_list__item">
        <a href="#top">Homepage</a>
      </li>
      <li class="nav_list__item">
        <a href="#top">Series</a>
      </li>
      <li class="nav_list__item">
        <a class="active" href="#top">Movies</a>
      </li>
    </ul>
  </div>

  <div class="nav_column nerdflix_logo">
    <%= image_tag ("nerdflix.png")%>
  </div>

  <div class="nav_column star_logo">
    <%= image_tag ("Star.png") %>
    5
  </div>
</nav>

